.post {
  width: 100%;
  max-width: 500px;
  margin: 30px auto;
  font-family: sans-serif;
}

.post-header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  font-weight: bold;
  margin-right: auto;
}

.more-btn {
  font-size: 24px;
  cursor: pointer;
}

.post-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.post-icons {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 22px;
}

.icon {
  margin-right: 12px;
  cursor: pointer;
}

.save {
  margin-left: auto;
}

.likes {
  font-weight: bold;
  padding: 0 10px;
}

.caption {
  padding: 0 10px;
}

.date {
  padding: 0 10px 10px;
  color: gray;
  font-size: 12px;
}
